* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //
}

.leftContent {
    text-align: center;
}

.cup {
    width: 140px;
    height: 216px;
    margin-bottom: 5%;
}

.carmelBlack {
    width: 114px;
    height: 42px;
}

.text1 {
    font-family: 'Raleway';
    letter-spacing: 1px;
    color: #050505;
    font-size: 14px;
    font-weight: 400;
}

.space {
    padding-top: 1%;
    padding-bottom: 3%;
}

.text2 {
    font-family: 'Tangerine', cursive;
    letter-spacing: 1px;
    color: #050505;
    font-size: 23px;
    font-weight: 400;
    padding-bottom: 3%;
}
