* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
}

.leftContainer {
    height: 100vh;
    width: 5%;
    float: left;
    background-color: #FFFFFF;
}

.imageContainer {
    padding: 2vh 0 5vh 0;
}

.returnImage {
    width: 70%;
    display: block;
    margin: auto;
}

.disruptContainer {
    text-align: center;
}

.disruptiveIdeation {
    font-size: 26px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-weight: 600;
    font-family: 'Raleway';
}

.navContainer {
    padding-top: 8vh;
    width: 45%;
    margin: auto;
}

.navsvg {
    display: block;
    margin: auto;
}

.rightContainer {
    height: 100vh;
    width: 95%;
    float: right;
    background-color: #A2C121;
    position: relative;
}

.rightContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.textContainer {
    padding: 0 7% 0 5%;
    width: 50%;
    float: left;
}

.heading {
    letter-spacing: 2.85px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 55px;
}

.text {
    font-family: 'Raleway';
    font-size: 26px;
    letter-spacing: 0.2px;
    line-height: 1.3;
    color: #4D5C0F;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: justify;
}

.buttons {
    width: 50px;
    height: 50px;
}

.svgContainer {
    width: 50%;
    float: right;
}

.svg {
    display: block;
    width: 60%;
    margin-left: 10%;
    margin-right: 20%;
}

@media screen and (max-device-width:768px) {
    .disruptiveIdeation {
        font-size: 10px;
    }
    .heading {
        font-size: 22px;
    }
    .text {
        font-size: 10px;
    }
    .buttons {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .disruptiveIdeation {
        font-size: 14px;
    }
    .heading {
        font-size: 30px;
    }
    .text {
        font-size: 14px;
    }
    .buttons {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .disruptiveIdeation {
        font-size: 20px;
    }
    .heading {
        font-size: 42px;
    }
    .text {
        font-size: 20px;
    }
    .buttons {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-device-width:1921px) and (max-device-width:2560px) {
    .disruptiveIdeation {
        font-size: 36px;
    }
    .heading {
        font-size: 75px;
    }
    .text {
        font-size: 36px;
    }
    .buttons {
        width: 60px;
        height: 60px;
    }
}