* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
}

.carmelLeftContainer {
    height: 100vh;
    width: 65%;
    float: left;
}

.carmelLeftContent {
    margin: 10% 0 0 0;
    text-align: center;
}

.cup {
    width: 21%;
    margin: auto;
    padding-bottom: 5%;
}

.text1 {
    font-family: 'Raleway';
    letter-spacing: 1.4px;
    color: #050505;
    font-size: 26px;
    font-weight: 400;
}

.textSpace {
    padding-top: 1%;
    padding-bottom: 4%;
}

.text2 {
    font-family: 'Tangerine';
    letter-spacing: 1px;
    color: #050505;
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 3%;
}

.carmelBlack {
    width: 10%;
}

.carmelRightContainer {
    height: 100vh;
    width: 35%;
    float: right;
}

@media screen and (max-device-width: 768px) {
    .text1 {
        font-size: 11px;
    }
    .text2 {
        font-size: 20px;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .text1 {
        font-size: 14px;
    }
    .text2 {
        font-size: 27px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .text1 {
        font-size: 20px;
    }
    .text2 {
        font-size: 37px;
    }
}

@media screen and (min-device-width: 1991px) and (max-device-width: 2560px) {
    .text1 {
        font-size: 36px;
    }
    .text2 {
        font-size: 67px;
    }
}