* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.parent {
    height: 100vh;
}

.leftContainer {
    height: 100vh;
    width: 40%;
    float: left;
}

.leftContent {
    padding: 7% 0 0 12%;
}

.our {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #32BDD2;
    border-top: 4px solid #32BDD2;
}

.approach {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #32BDD2;
}

.numbers {
    padding-top: 7%;
}

.largeNumber {
    font-family: 'Anton';
    font-size: 90px;
    font-weight: 400;
    letter-spacing: 0;
    color: #32BDD2;
    opacity: 0.6;
}

.smallNumber {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    color: #32BDD2;
    opacity: 0.6;
}

.strategicSoftware {
    padding-top: 13%;
}

.strategic {
    font-family: 'Raleway';
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #32BDD2;
}

.futureProofing {
    padding-top: 13%;
}

.future {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #212121;
}

.text {
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #212121;
    padding-top: 4%;
}

.rightContainer {
    height: 100vh;
    width: 60%;
    float: right;
}

.rightContent {
    margin-top: 8%;
}

.content {
    width: 65%;
    margin: auto;
    padding: 2%;
    text-align: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    color: #505050;
    background-color: #B8D5DD;
}

.svgContainer {
    width: 50%;
    margin: auto;
    padding-top: 7%;
}

@media screen and (max-device-width: 768px) {
    .our {
        font-size: 9px;
    }
    .approach {
        font-size: 9px;
    }
    .largeNumber {
        font-size: 37px;
    }
    .smallNumber {
        font-size: 16px;
    }
    .strategic {
        font-size: 31px;
    }
    .future {
        font-size: 11px;
    }
    .text {
        font-size: 10px;
    }
    .content {
        font-size: 7px;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .our {
        font-size: 12px;
    }
    .approach {
        font-size: 12px;
    }
    .largeNumber {
        font-size: 49px;
    }
    .smallNumber {
        font-size: 22px;
    }
    .strategic {
        font-size: 41px;
    }
    .future {
        font-size: 15px;
    }
    .text {
        font-size: 14px;
    }
    .content {
        font-size: 9px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .our {
        font-size: 17px;
    }
    .approach {
        font-size: 17px;
    }
    .largeNumber {
        font-size: 70px;
    }
    .smallNumber {
        font-size: 30px;
    }
    .strategic {
        font-size: 58px;
    }
    .future {
        font-size: 25px;
    }
    .text {
        font-size: 22px;
    }
    .content {
        font-size: 13px;
    }
}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) {
    .our {
        font-size: 30px;
    }
    .approach {
        font-size: 30px;
    }
    .largeNumber {
        font-size: 124px;
    }
    .smallNumber {
        font-size: 55px;
    }
    .strategic {
        font-size: 104px;
    }
    .future {
        font-size: 44px;
    }
    .text {
        font-size: 39px;
    }
    .content {
        font-size: 23px;
    }
}