* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
}

.leftContainer {
    height: 100vh;
    width: 5%;
    float: left;
}

.rightContainer {
    height: 100vh;
    width: 95%;
    float: right;
    position: relative;
}

.rightContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.textContainer {
    width: 50%;
    float: left;
}

.svgContainer {
    width: 50%;
    float: right;
}