/* ------------------------Common-------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
}

.leftContainer {
    height: 100vh;
    width: 5%;
    float: left;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.row {
    flex-grow: 1;
    background-color: #FFFFFF;
}

.lastRow {
    flex-grow: 8;
    background-color: #FFFFFF;
}

.imageContainer {
    padding: 2vh 0 5vh 0;
    width: 70%;
    margin: auto;
}

.disruptContainer {
    text-align: center;
}

.disruptiveIdeation {
    font-size: 26px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-weight: 600;
    font-family: 'Raleway';
}

.navContainer {
    padding-top: 8vh;
    width: 45%;
    margin: auto;
}

.rightContainer {
    height: 100vh;
    width: 95%;
    float: right;
    position: relative;
}

.rightContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.heading {
    letter-spacing: 2.85px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 55px;
}

.text {
    font-family: 'Raleway';
    font-size: 26px;
    letter-spacing: 0.2px;
    line-height: 1.3;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: justify;
}

.buttons {
    width: 50px;
    height: 50px;
}

.space {
    margin-right: 0.75vw;
}


/* -----------------------------Generative & Analytical----------------------------- */

.generativeBackgroundColor {
    background-color: #E25959;
}

.generativeTextContainer {
    padding: 0 10% 0 5%;
    width: 55%;
    float: left;
}

.generativeTextColor {
    color: #5C2323;
}

.generativeSvgContainer {
    width: 45%;
    float: right;
}

.generativeSvg {
    width: 50%;
    margin: auto;
}


/* ------------------------People--------------------------------- */

.peopleBackgroundColor {
    background-color: #E0AE3F;
}

.peopletextContainer {
    padding: 5% 10% 0 5%;
    width: 55%;
    float: left;
}

.peopleTextColor {
    color: #5D4716;
}

.peopleSvgContainer {
    width: 45%;
    float: right;
}

.peopleSvg {
    margin-left: 20%;
    margin-right: 30%;
}


/* ------------------------Empathy----------------------------------------- */

.empathyBackgroundColor {
    background-color: #B676F4;
}

.empathyTextContainer {
    padding: 0 10% 0 5%;
    width: 50%;
    float: left;
}

.empathyTextColor {
    color: #49256C;
}

.empathySvgContainer {
    width: 50%;
    float: right;
}

.empathySvg {
    margin-left: 10%;
    margin-right: 25%;
}


/* ----------------------------------------Journey----------------------------------- */

.journeyBackgroundColor {
    background-color: #8296AD;
}

.journeyTextContainer {
    padding: 5% 10% 0 5%;
    width: 50%;
    float: left;
}

.journeyTextColor {
    color: #324153;
}

.journeySvgContainer {
    width: 50%;
    float: right;
}

.journeySvg {
    margin-left: 10%;
    margin-right: 25%;
}


/* ------------------------------Rapid----------------------------------------------------- */

.rapidBackgroundColor {
    background-color: #A2C121;
}

.rapidTextContainer {
    padding: 0 7% 0 5%;
    width: 50%;
    float: left;
}

.rapidTextColor {
    color: #4D5C0F;
}

.rapidSvgContainer {
    width: 50%;
    float: right;
}

.rapidSvg {
    width: 60%;
    margin-left: 10%;
    margin-right: 20%;
}


/* --------------------Media Queries for Disruptive Ideation Screens-------------------- */

@media screen and (max-device-width:768px) {
    .disruptiveIdeation {
        font-size: 10px;
    }
    .heading {
        font-size: 22px;
    }
    .text {
        font-size: 10px;
    }
    .buttons {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .disruptiveIdeation {
        font-size: 14px;
    }
    .heading {
        font-size: 30px;
    }
    .text {
        font-size: 14px;
    }
    .buttons {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .disruptiveIdeation {
        font-size: 20px;
    }
    .heading {
        font-size: 42px;
    }
    .text {
        font-size: 20px;
    }
    .buttons {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-device-width:1921px) and (max-device-width:2560px) {
    .disruptiveIdeation {
        font-size: 36px;
    }
    .heading {
        font-size: 75px;
    }
    .text {
        font-size: 36px;
    }
    .buttons {
        width: 60px;
        height: 60px;
    }
}


/* ---------------------------Strategic Software------------------------- */

.strategicSoftwareLeftContainer {
    height: 100vh;
    width: 40%;
    float: left;
}

.strategicSoftwareleftContent {
    padding: 7% 0 0 12%;
}

.our {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #32BDD2;
    border-top: 4px solid #32BDD2;
}

.approach {
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #32BDD2;
}

.numbers {
    padding-top: 7%;
}

.largeNumber {
    font-family: 'Anton';
    font-size: 90px;
    font-weight: 400;
    letter-spacing: 0;
    color: #32BDD2;
    opacity: 0.6;
}

.smallNumber {
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 0;
    color: #32BDD2;
    opacity: 0.6;
}

.strategicSoftware {
    padding-top: 13%;
}

.strategic {
    font-family: 'Raleway';
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #32BDD2;
}

.futureProofing {
    padding-top: 13%;
}

.future {
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #212121;
}

.strategicSoftwareText {
    font-family: 'Raleway';
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #212121;
    padding-top: 4%;
}

.strategicSoftwareRightContainer {
    height: 100vh;
    width: 60%;
    float: right;
}

.strategicSoftwareRightContent {
    margin-top: 8%;
}

.strategicSoftwareContent {
    width: 65%;
    margin: auto;
    padding: 2%;
    text-align: center;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    color: #505050;
    background-color: #B8D5DD;
}

.strategicSoftwareSvgContainer {
    width: 50%;
    margin: auto;
    padding-top: 7%;
}


/* --------------------Media Queries for Strategic Software-------------------- */

@media screen and (max-device-width: 768px) {
    .our {
        font-size: 9px;
    }
    .approach {
        font-size: 9px;
    }
    .largeNumber {
        font-size: 37px;
    }
    .smallNumber {
        font-size: 16px;
    }
    .strategic {
        font-size: 31px;
    }
    .future {
        font-size: 11px;
    }
    .strategicSoftwareText {
        font-size: 10px;
    }
    .strategicSoftwareContent {
        font-size: 7px;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .our {
        font-size: 12px;
    }
    .approach {
        font-size: 12px;
    }
    .largeNumber {
        font-size: 49px;
    }
    .smallNumber {
        font-size: 22px;
    }
    .strategic {
        font-size: 41px;
    }
    .future {
        font-size: 15px;
    }
    .strategicSoftwareText {
        font-size: 14px;
    }
    .strategicSoftwareContent {
        font-size: 9px;
        width: 70%;
    }
    .strategicSoftwareSvgContainer {
        width: 55%;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .our {
        font-size: 17px;
    }
    .approach {
        font-size: 17px;
    }
    .largeNumber {
        font-size: 70px;
    }
    .smallNumber {
        font-size: 30px;
    }
    .strategic {
        font-size: 58px;
    }
    .future {
        font-size: 25px;
    }
    .strategicSoftwareText {
        font-size: 22px;
    }
    .strategicSoftwareContent {
        font-size: 13px;
    }
}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) {
    .our {
        font-size: 30px;
    }
    .approach {
        font-size: 30px;
    }
    .largeNumber {
        font-size: 124px;
    }
    .smallNumber {
        font-size: 55px;
    }
    .strategic {
        font-size: 104px;
    }
    .future {
        font-size: 44px;
    }
    .strategicSoftwareText {
        font-size: 39px;
    }
    .strategicSoftwareContent {
        font-size: 23px;
    }
}


/* ---------------------HR Desk-------------------------- */

.HRleftContainer {
    width: 30%;
    float: left;
}

.HRleftContent {
    padding-left: 16%;
}

.hrDesk {
    padding-top: 87%;
}

.hr {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 60px;
    color: #32BDD2;
    border-top: 0.6vw solid #32BDD2;
}

.desk {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 60px;
    color: #32BDD2;
}

.hrText {
    color: #505050;
    padding-top: 5%;
    width: 58%;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
}

.emailSpace {
    padding-top: 5%;
}

.hrEmail {
    border-bottom: 1px solid #505050;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 22px;
    color: #505050;
}

.HRrightContainer {
    width: 70%;
    float: right;
}

.HRrightContent {
    padding: 10% 13% 5% 0;
}

.join {
    color: #505050;
    font-family: 'Raleway';
    padding-bottom: 3%;
    font-size: 37px;
    font-weight: 600;
}

.joinText {
    color: #505050;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 3%;
    letter-spacing: 1px;
}

.textBackground {
    background-color: #EAF2F4;
    padding: 5% 4% 3% 5%;
}

.come {
    color: #505050;
    font-family: 'Raleway';
    font-size: 37px;
    font-weight: 600;
    padding-bottom: 3%;
}

.comeText {
    color: #505050;
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 3%;
    letter-spacing: 0.8px;
}

.fileContainer {
    margin-bottom: 2%;
}

.selectContainer {
    height: inherit;
    background-color: white;
    border: 1px solid #DFEBEF;
    padding: 2% 2%;
    width: 45%;
    float: left;
}

.select {
    padding-bottom: 1%;
    font-size: 19px;
    color: #595959;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1px;
}

.maximum {
    padding-bottom: 6%;
    font-size: 17px;
    color: #707070;
    font-family: 'Raleway';
    font-weight: 400;
    width: 90%;
    letter-spacing: 1px;
}

.browse {
    font-family: 'Raleway';
    font-size: 15px;
    background-color: #32BDD2;
    font-weight: 500;
    border-radius: 5%;
    padding: 2% 3%;
    color: #FFFFFF;
    border: 0;
    letter-spacing: 1px;
}

.uploadContainer {
    background-color: #32BDD2;
    border: 1px solid #DFEBEF;
    padding: 2%;
    width: 45%;
    float: left;
}

.uploadBackground {
    border: 1px dashed white;
    padding: 8% 0;
}

.upload {
    display: block;
    margin: auto;
    width: 32px;
    height: 32px;
}

.clear {
    clear: both;
}

.drop {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
}

.alertFile {
    font-family: 'Roboto';
    font-weight: 500;
    padding: 2%;
    width: 90%;
    color: #FFFFFF;
    background-color: #E65959;
    display: none;
}

.g-recaptcha {
    transform: scale(1.2);
    transform-origin: 0 0;
}

.alertCaptcha {
    font-family: 'Roboto';
    font-weight: 500;
    padding: 2%;
    width: 45%;
    color: #FFFFFF;
    background-color: #E65959;
    margin-top: 4%;
    display: none;
}

.submit {
    box-shadow: 0px 1px 1px 2px rgba(80, 80, 80, 0.75);
    border-radius: 18px;
    background-color: #505050;
    padding: 1% 3%;
    color: #FFFFFF;
    border: 0 solid #505050;
    margin-top: 1%;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: 500;
}

.workExperience {
    padding-top: 12%;
}


/* --------------------Media Queries for HR Desk-------------------- */

@media screen and (max-device-width: 768px) {
    .hr {
        font-size: 23px;
    }
    .desk {
        font-size: 23px;
    }
    .hrText {
        font-size: 7px;
    }
    .hrEmail {
        font-size: 8px;
    }
    .join {
        font-size: 15px;
    }
    .joinText {
        font-size: 9px;
    }
    .come {
        font-size: 15px;
    }
    .comeText {
        font-size: 9px;
    }
    .select {
        font-size: 7px;
    }
    .maximum {
        font-size: 6px;
    }
    .browse {
        font-size: 5px;
    }
    .drop {
        font-size: 7px;
    }
    .submit {
        font-size: 7px;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .hr {
        font-size: 31px;
    }
    .desk {
        font-size: 31px;
    }
    .hrText {
        font-size: 10px;
    }
    .hrEmail {
        font-size: 11px;
    }
    .join {
        font-size: 20px;
    }
    .joinText {
        font-size: 12px;
    }
    .come {
        font-size: 20px;
    }
    .comeText {
        font-size: 12px;
    }
    .select {
        font-size: 10px;
    }
    .maximum {
        font-size: 9px;
    }
    .browse {
        font-size: 7px;
    }
    .drop {
        font-size: 10px;
    }
    .submit {
        font-size: 9px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .hr {
        font-size: 46px;
    }
    .desk {
        font-size: 46px;
    }
    .hrText {
        font-size: 15px;
    }
    .hrEmail {
        font-size: 17px;
    }
    .join {
        font-size: 28px;
    }
    .joinText {
        font-size: 17px;
    }
    .come {
        font-size: 28px;
    }
    .comeText {
        font-size: 17px;
    }
    .select {
        font-size: 14px;
    }
    .maximum {
        font-size: 13px;
    }
    .browse {
        font-size: 11px;
    }
    .drop {
        font-size: 14px;
    }
    .submit {
        font-size: 13px;
    }
}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) {
    .hr {
        font-size: 82px;
    }
    .desk {
        font-size: 82px;
    }
    .hrText {
        font-size: 28px;
    }
    .hrEmail {
        font-size: 30px;
    }
    .join {
        font-size: 51px;
    }
    .joinText {
        font-size: 30px;
    }
    .come {
        font-size: 51px;
    }
    .comeText {
        font-size: 30px;
    }
    .select {
        font-size: 25px;
    }
    .maximum {
        font-size: 23px;
    }
    .browse {
        font-size: 19px;
    }
    .drop {
        font-size: 25px;
    }
    .submit {
        font-size: 23px;
    }
}


/* -------------------------Cup Page-------------------------------- */

.carmelLeftContainer {
    height: 100vh;
    width: 65%;
    float: left;
}

.carmelLeftContent {
    margin: 10% 0 0 0;
    text-align: center;
}

.cup {
    width: 21%;
    margin: auto;
    padding-bottom: 5%;
}

.text1 {
    font-family: 'Raleway';
    letter-spacing: 1.4px;
    color: #050505;
    font-size: 26px;
    font-weight: 400;
}

.textSpace {
    padding-top: 1%;
    padding-bottom: 4%;
}

.text2 {
    font-family: 'Tangerine';
    letter-spacing: 1px;
    color: #050505;
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 3%;
}

.carmelBlack {
    width: 10%;
}

.carmelRightContainer {
    height: 100vh;
    width: 35%;
    float: right;
}


/* ------------------Media Queries for Cup Page-------------------- */

@media screen and (max-device-width: 768px) {
    .text1 {
        font-size: 11px;
    }
    .text2 {
        font-size: 20px;
    }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    .text1 {
        font-size: 14px;
    }
    .text2 {
        font-size: 27px;
    }
}

@media screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    .text1 {
        font-size: 20px;
    }
    .text2 {
        font-size: 37px;
    }
}

@media screen and (min-device-width: 1991px) and (max-device-width: 2560px) {
    .text1 {
        font-size: 36px;
    }
    .text2 {
        font-size: 67px;
    }
}