* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E25959;
}

.svgContainer {
    width: 45%;
    float: right;
    margin-top: 12%;
}

.man {
    margin-left: 30%;
}