* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    height: 100vh;
}

.leftContainer {
    height: 100vh;
    background-color: #FFFFFF;
    width: 5%;
    float: left;
}

.imageContainer {
    padding: 2vh 0 5vh 0;
}

.returnImage {
    width: 70%;
    display: block;
    margin: auto;
}

.disruptContainer {
    padding-left: 50%;
}

.disruptiveIdeation {
    font-size: 26px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg)translateX(50%);
    font-weight: 600;
    font-family: 'Raleway';
}

.navContainer {
    padding-top: 8vh;
    width: 50%;
    margin: auto;
}

.navsvg {
    display: block;
    margin: auto;
}

.rightContainer {
    height: 100vh;
    width: 95%;
    float: right;
    background-color: #E25959;
    position: relative;
}

.rightContent {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.textContainer {
    width: 55%;
    padding: 0 10% 0 5%;
    float: left;
}

.heading {
    letter-spacing: 2.85px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 55px;
}

.text {
    font-family: 'Raleway';
    font-size: 26px;
    letter-spacing: 0.2px;
    line-height: 1.3;
    color: #5C2323;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: justify;
}

.buttons {
    width: 50px;
    width: 50px;
}

.space {
    margin-right: 1vw;
}

.svgContainer {
    width: 45%;
    float: right;
}

.svg {
    width: 50%;
    display: block;
    margin: auto;
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .disruptiveIdeation {
        font-size: 18px;
        writing-mode: vertical-rl;
        transform: rotate(-180deg)translateX(50%);
        font-weight: 600;
        font-family: 'Raleway';
    }
    .heading {
        letter-spacing: 2.85px;
        color: #FFFFFF;
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 38px;
    }
    .text {
        font-family: 'Raleway';
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 1.3;
        color: #5C2323;
        margin-top: 5%;
        margin-bottom: 10%;
        text-align: justify;
    }
    .buttons {
        width: 35px;
        height: 35px;
    }
}